	
											/*Unique Shop.html , Css.Css3 Cods*/
	
	body{
		background-image:url('bg.jpg');
		background-size:100% 100%;
		background-attachment:fixed;
	}
	
	#box1{
		min-height:97%;
		width:50%;
		border:;
		background-color:rgba(0,0,10,0.75);
		padding:20px;
		margin-top:-8px;
		margin-left:-20px;
		color:white;
		font-family:Calibri;
		font-size:22px;
		box-shadow:;
		float:left;
		position:;
	}
	#box2{
		height:%;
		width:%;
		border:;
		background-color:;
		margin-top:120px;
		margin-left:45;	
		text-shadow:2px 2px 5px black;
	}
	#box3{
		min-height:50%;
		width:90%;
		border:;
		background-color:;
		margin-left:33;
		padding:15px;
		margin-top:-20px;
		font-size:24px;
		}
		
		
	table {
   		font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
    	background-color: #fff;
		}

	td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	}

	tr:nth-child(even) {
    background-color: #dddddd;
	}
		
		
		
		
		
		
		

		input{
			background-color:rgba(0,0,0,0.2);
			color:white;
		}
		input#in1{
			background-color:rgba(0,0,0,0.2);
			margin-top:4px;
			color:white;
		}
		input#but1{
			height:60px;
			width:150px;
			background-color:rgba(0,0,0,0.2);
			color:white;
			font-size:20px;
			border-radius:3px;
			box-shadow:1px 1px 10px black;
			font-family:Calibri;
		}
		input#but1:hover{
			background-color:rgba(255,255,255,0.85);
			color:gray;
		}
		
		
		